/* Font-family: "Times New Roman", */

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  ;
}


/* Don't cap css properties, that below will only be applied to link elements */
input{
font-size: 24px;
width: 150px;
border-top-width: 5px;
margin: 1cm;
border-radius: 25;
}